{% extends 'base.html' %}
{% load static %}

{% block title %}
Sign In
{% endblock %}

{% block content %}

<div class="row pt-3">
    <div class="mx-auto col-md-5 col-10 bg-white p-5 shadow-lg">
        <h1 class="mb-4" style="text-align: center">Sign In</h1>
        {% if request.session.message %}
            <div class="alert alert-danger"> 
                {{request.session.message}}
            </div>
        {% endif %}
        <form class="text-left" method="POST">
            {% csrf_token %}
            <div class="form-group"><label>Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="inlineFormInputGroup" name='email' placeholder="email" required="required">
                </div>
            </div>
            <div class="form-group"><label>Password</label>
                <div class="input-group">
                  <input type="password" name='password' class="form-control" id="inlineFormInputGroup" placeholder="Password" required="required">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Sign In!</button>
        </form>
        <div class="row mt-2">
            <div class="col-md-12">
                <a class="btn text-white btn-block" href="{% url 'social:begin' 'google-oauth2' %}" style="background: rgb(221, 75, 57);"><i class="fab fa-fw fa-google-plus-g"></i>&nbsp;Login</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center lead">Have no account? just sign up!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-primary btn-lg" href="/base/sign_up/">Sign Up!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
