{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="row">
    <div class="mx-auto col-md-6 col-10 bg-white p-5 shadow-lg">
      <h1 class="mb-4" style="text-align: center">Sign Up</h1>
      <form class="text-left" method="POST">
      	{% csrf_token %}
      	{{form.as_p}}
        <button type="submit" class="btn btn-primary btn-block mt-3">Sign Up!</button>
      </form>
    </div>
</div>
{% endblock %}