{% load static %}
<header>
    <nav class="navbar navbar-expand-lg" >
        <div class="container"> <a class="navbar-brand" href="#">
            <i class="fa d-inline fa-lg fa-stop-circle"></i> 
            <b> NATADANUS</b>
          </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar17">
            <!-- <span class="navbar-toggler-icon"></span> --> <i class="fas fa-angle-double-down"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbar17">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link" href="/home/">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/catalog/">Catalog</a> </li>
                <li class="nav-item"> <a class="nav-link" href="">Line-bot</a> </li>                
                <li class="nav-item"> <a class="nav-link" href="">Apps</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/about/">About</a> </li>
                {% if user.is_authenticated %}                    
                    <li class="nav-item"> <a class="nav-link" href="/cart/"> <i class="fas fa-shopping-cart"></i> <small id="item-counter">0</small> </a></li>
                {% endif %} 
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a class="nav-link" href="" id="username">{{user.username|capfirst}}</a></li>
              <li class="nav-item"> <a class="nav-link" href="/home/logout/">Log Out</a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <!-- Button trigger modal -->
                <li class="nav-item"> <a class="nav-link" href="" data-toggle="modal" data-target="#loginFormModal">Log In</a></li>
                <li class="nav-item"> <a class="nav-link" href="/users/sign-up/">Register</a></li>
            </ul>
            {% endif %} 
          </div>
        </div>
      </nav>
</header>



<!-- Modal -->
<div class="modal fade" id="loginFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <div id="login_error_message">                     
                </div>

            <form class="text-left" method="POST" id="loginForm">
                {% csrf_token %}
                <div class="form-group"><label>Email</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="email_login_form" name='email' placeholder="email" required="required">
                    </div>
                </div>
                <div class="form-group"><label>Password</label>
                    <div class="input-group">
                      <input type="password" name='password' class="form-control" id="pass_login_form" placeholder="Password" required="required">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Sign In!</button>
            </form>

            <div class="row mt-2">
                <div class="col-md-12">
                    <a class="btn text-white btn-block" href="{% url 'social:begin' 'google-oauth2' %}" style="background: rgb(221, 75, 57);"><i class="fab fa-fw fa-google-plus-g"></i>&nbsp;Login</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center lead">Have no account? <a class="" href="/base/sign_up/">Sign Up here!</a></p>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <!-- Fill stuff -->
      </div>
    </div>
  </div>
</div>