{% extends 'base.html' %}
{% block title %}
Produk
{% endblock %}

{% block content %}
	<div class="container-fluid">
		{% if orderedProducts|length == 0 %}
			Keranjangmu masih kosong
		{% else %}
			{% for orderedProduct in orderedProducts %}
				<div class="row mt-3">
					<div class="col-md-3">
						<img src="{{orderedProduct.produk.urlimg}}" width="240px">
					</div>
					<div class="col-md-9">
						<p>{{orderedProduct.produk.nama}}</p>
						<p>Harga : Rp {{orderedProduct.produk.harga}} / {{orderedProduct.produk.satuan}} </p>
						<p>Jumlah yang dipesan: {{orderedProduct.jumlah}} {{orderedProduct.produk.satuan}}</p>
					</div>
				</div>
			{% endfor %}

			<div class="row">
				<div class="col-md-4 offset-md-3 mt-5">
					Total Harga : Rp {{ orderedProducts.0.transaction.total }}
				</div>
			</div> 
		{% endif %}


		
	</div>

{% endblock %}